<news-source [source]="'EDIT NEWS'"></news-source>
<form class="add-news-form" (ngSubmit)="save()" [formGroup]="editNewsForm" novalidate>
  <div class="col1">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Title" formControlName="title" name="title">
    </mat-form-field>
    <div class="error-wr">
      <p class="error-msg" *ngIf="!editNewsForm.controls.title.valid && editNewsForm.controls.title.touched">
        The title must contain between 1 and 50 characters
      </p>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Description" formControlName="description" name="description">
    </mat-form-field>
    <div class="error-wr">
      <p class="error-msg"
         *ngIf="!editNewsForm.controls.description.valid && editNewsForm.controls.description.touched">
        The description must contain less than 200 characters
      </p>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Image" formControlName="image" name="image">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput [matDatepicker]="picker" placeholder="Date" formControlName="date" name="date" appDateValidator>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div class="error-wr">
      <p class="error-msg" *ngIf="!editNewsForm.controls.date.valid && editNewsForm.controls.date.touched">
        Date format should be dd/MM/yyyy
      </p>
    </div>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Source URL" formControlName="url" name="url">
    </mat-form-field>

  </div>

  <div class="col2">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Content" formControlName="content" name="content"
                class="content-textarea"></textarea>
    </mat-form-field>
    <div class="error-wr">
      <p class="error-msg" *ngIf="!editNewsForm.controls.content.valid && editNewsForm.controls.content.touched">
        The content must contain less than 500 characters
      </p>
    </div>

    <div class="add-news-btns">
      <button mat-raised-button color="warn" class="add-news-btn" type="submit" [disabled]="!editNewsForm.valid">Save
      </button>
      <button mat-raised-button color="warn" (click)="close()" class="close-add-page">Cancel</button>
    </div>
  </div>

</form>
