.news-source {
  text-align: center;
  font-weight: bold;
  background-color: #EEE;
  padding: 20px;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #f44336;
  font-weight: 700;
}
