@import '../../../style/variables.scss';

.search-wrapper {
  height: 25rem;
  padding: 5rem;
  color: $white;
  background-color: $black;

  .toggle-wrapper {
    display: flex;
    justify-content: flex-start;
  }

  .search-form {
    margin-bottom: 3rem;
  }

  .search-heading {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 100;
    letter-spacing: 0.4rem;
  }

  .search-field {
    width: 40rem;
    height: 3.5rem;
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 100;
    border: 0.1rem solid $red;
    // box-shadow: 0 0 1rem 0 $red;
    border-radius: 0.5rem;
  }

  .search-button {
    height: 3.7rem;
    padding: 0 1.5rem;
    background-color: $red;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    border-radius: 0.4rem;
  }
}
