<div class="news-config-panel">
  <div class="source">
    <mat-form-field>
      <mat-select placeholder="Select source" (selectionChange)="changeChannel($event)" [(ngModel)]="selectedChannel"
                  [disabled]="onlyCreatedByMe">
        <mat-option *ngFor="let channel of channels" [value]="channel.value">
          {{channel.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="filter">
    <form>
      <mat-form-field class="filter-input">
        <input matInput placeholder="Filter" [(ngModel)]="filterValue" [ngModelOptions]="{standalone: true}">
      </mat-form-field>
      <button mat-raised-button color="warn" (click)="setFilterValue()">Filter</button>
    </form>
  </div>
  <div class="created-by-me">
    <section class="created-by-me-section">
      <mat-checkbox class="created-by-me-checkbox" [disabled]="!user" [(ngModel)]="onlyCreatedByMe"
                    (ngModelChange)="onlyCreatedByMeChanged($event)">Only created by me
      </mat-checkbox>
    </section>
  </div>
  <div class="add-news">
    <a mat-raised-button color="primary" [disabled]="!user" [routerLink]="['/news/add']">Add news</a>
  </div>
</div>
