@import '../../style/variables.scss';

.movies-list {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 30rem 30rem 30rem;
  grid-gap: 4rem 1.5rem;
  justify-content: space-between;
  padding: 5rem;
  background-color: $black;
}

.no-movies {
  grid-column: 2;
  margin: auto;
  color: $white;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}