<form action="/news" method="post">
    <h1>Add news</h1>
    <div>
        <label>id:</label>
        <input type="text" name="id"/>
    </div>
    <div>
        <label>description:</label>
        <input type="text" name="description"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
