<form class="auth-container"
      [formGroup]="authForm"
      novalidate>
  <div *ngIf="showErrorMessage" class="error-msg-wr">
    <span class="error-msg">Incorrect login or password</span>
  </div>
  <mat-form-field>
    <input matInput placeholder="Login"
           formControlName="login">
  </mat-form-field>
  <div class="input-error-wr">
    <p class="input-error-msg" *ngIf="!authForm.controls.login.valid && authForm.controls.login.touched">Please
      enter login</p>
  </div>
  <mat-form-field>
    <input matInput placeholder="Password"
           [type]="hide ? 'password' : 'text'"
           formControlName="password">
    <mat-icon matSuffix (click)="hide = !hide" class="password-icon">
      <mat-icon svgIcon="visibility" *ngIf="hide"></mat-icon>
      <mat-icon svgIcon="visibility-off" *ngIf="!hide"></mat-icon>
    </mat-icon>
  </mat-form-field>
  <div class="input-error-wr">
    <p class="input-error-msg" *ngIf="!authForm.controls.password.valid && authForm.controls.password.touched">
      Please enter password</p>
  </div>
  <button mat-raised-button color="warn"
          class="btn-login"
          (click)="login()"
          [disabled]="!authForm.valid">Login
  </button>
  <div class="btn-panel">
    <button mat-raised-button color="warn"
            class="btn-login btn-register"
            (click)="registration()">Registration
    </button>
    <button mat-raised-button color="warn"
            class="btn-login btn-back"
            (click)="cancel()">Back to home page
    </button>
  </div>
</form>
